*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }

 h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.75em;
 }

 div{
    background-color: gray;
    border: solid black 1px;
    width: 29%;
    height: 220px;
    margin-left: 30px;
}

 .box-1{
     border: solid black 1px;
     height: 220px;
     margin-left: 30px;
 }

 .box-2{
    position: relative;
    bottom: 220px;
    left: 33%;
 }

 .box-3{
     position: relative;
     bottom: 440px;
     left: 66%;
 }

 p{
     margin-left: 10px;
     margin-top: 40px;
     font-size: 1em;
     font-weight: bold;
     
 }

 section{
     border-left: 1px solid black;
     border-bottom: 1px solid black;
     width: 30%;
     height: 30px;
     float: right;
     font-size: 1.25em;
     font-weight: bolder;
     text-align: center;  
 }

 .box-1 .section-1 {
     background-color: lightpink;
 }

 .box-2 .section-2 {
     background-color: lightcoral;
     color: rgb(250, 250, 250);
  
 }

 .box-3 .section-3 {
     background-color: lightgoldenrodyellow;
    
  
 }

 @media (min-width: 768px) and (max-width: 991px){
  div{
     background-color: gray;
     border: solid black 1px;
     width: 45%;
     height: 200px;
 }

 .box-1{
     border: solid black 1px;
     margin-left: 31px;
     height: 200px;
 }

 .box-2{
     position: relative;
     margin-left: 20.5%;
     bottom: 200px;
     left: 32%;
 }

 .box-3{
     margin-top: 20px;
     width: 94%;
     position: relative;
     bottom: 200px;
     left: 1px;
     height: 150px;
 }

 p{
     margin-left: 10px;
     margin-top: 40px;
     font-size: 1em;
     font-weight: bold;
     
 }
 .p-3{
     margin-top: 55px;
 }

 section{
     border-left: 1px solid black;
     border-bottom: 1px solid black;
     width: 30%;
     height: 30px;
     float: right;
     font-size: 1.25em;
     font-weight: bolder;
     text-align: center;  
 }

 .box-1 .section-1 {
     background-color: lightpink;
 }

 .box-2 .section-2 {
     background-color: lightcoral;
     color: rgb(250, 250, 250);
  
 }

 .box-3 .section-3 {
     background-color: lightgoldenrodyellow;

 }
}


@media (min-width: 50px) and (max-width: 767px){
    div{
       background-color: gray;
       border: solid black 1px;
       width: 70%;
       height: 100%;
   }
   .box-1{
       height: 100%;
       position: relative;
       left: 10%;
   }
  
   .box-2{
       margin-top: 10px;
       height: 100%;
       position: relative;
       left: 10%;
       bottom: 0;
    
   }
  
   .box-3{
       height: 100%;
       margin-top: 10px;
       position: relative;
       left: 10%;
       bottom: 0;
     
   }
  
   p{
       margin-left: 10px;
       margin-top: 40px;
       font-size: 1em;
       font-weight: bold;
       
   }
  
   section{
       border-left: 1px solid black;
       border-bottom: 1px solid black;
       width: 30%;
       height: 30px;
       float: right;
       font-size: 1.25em;
       font-weight: bolder;
       text-align: center;  
   }
  
   .box-1 .section-1 {
       background-color: lightpink;
   }
  
   .box-2 .section-2 {
       background-color: lightcoral;
       color: rgb(250, 250, 250);
    
   }
  
   .box-3 .section-3 {
       background-color: lightgoldenrodyellow;
   }
  }